<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>HTML Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin-menu.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
  <main>
    <h1>Trilha Certa</h1>
    <h3>Matricule-se em alguma turma:</h3>
    <form method="post" action="/aluno/matricular/">

      <select type="text" id="turmas" name="turmas" placeholder="Escolha uma turma" required>
        <option value="turmaA">Turma A</option>
        <option value="turmaB">Turma B</option>
        <option value="turmaC">Turma C</option>
        <option value="turmaD">Turma D</option>
        <option value="turmaF">Turma F</option>
        <option value="turmaG">Turma G</option>
        <option value="turmaH">Turma H</option>
      </select>

      <div class="success">
        {% if success %}
        <span class="success-span">{{ success }}</span>
        {% endif %}
      </div>

      <div class="error">
        {% if error %}
        <span class="error-span">{{ error }}</span>
        {% endif %}
      </div>

      <div class="wrap">
        <button type="submit">
          Concluir Matrícula
        </button>
      </div>
    </form>

    </div>
  </main>

</body>

</html>