<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>HTML Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin-menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aluno/aluno-menu.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
  <main>
    <div class="header">
      <div>
        <h1>Trilha Certa</h1>
        <h3>Matricule-se em alguma turma:</h3>
      </div>
      <div>
        <form action="/logout" id="logout-form">
          <button id="logout" type="submit">Sair</button>
        </form>
      </div>
    </div>
    <form method="post">
      
      <div class="atention">
        <p>Atenção: ao selecionar uma turma você terá 30 segundos para se matricular.</p>
      </div>
      <div class="card-columns">
        <div class="card-wraper">
          <div class="card" onclick="handleModal('A')">
              <div class="inner-card">
                <p>Turma A</p>
                <p>Matutino</p>
              </div>
              <div class="snd-inner-card">
                <p class="trilha">ENEGRE-SER</p>   
              </div>
              <div class="snd-inner-card">
                <p>Vagas: {{actual_students['A']}}/{{max_students['A']}}</p>
              </div>
          </div>

          <div class="card" onclick="handleModal('B')">
            <div class="inner-card">
              <p>Turma B</p>
              <p>Matutino</p>
            </div>
            <div class="snd-inner-card">
              <p class="trilha">DINHEIRO NA MÃO É VENDAVAL</p>   
            </div>
            <div class="snd-inner-card">
              <p>Vagas: {{actual_students['B']}}/{{max_students['B']}}</p>
            </div>
          </div>

          <div class="card" onclick="handleModal('C')">
            <div class="inner-card">
              <p>Turma C</p>
              <p>Matutino</p>
            </div>
            <div class="snd-inner-card">
              <p class="trilha">ADMIRÁVEL MUNDO NOVO</p>   
            </div>
            <div class="snd-inner-card">
              <p>Vagas: {{actual_students['C']}}/{{max_students['C']}}</p>
            </div>
          </div>

          <div class="card" onclick="handleModal('D')">
            <div class="inner-card">
              <p>Turma D</p>
              <p>Matutino</p>
            </div>
            <div class="snd-inner-card">
              <p class="trilha">AGROECOLOGIA</p>   
            </div>
            <div class="snd-inner-card">
              <p>Vagas: {{actual_students['D']}}/{{max_students['D']}}</p>
            </div>
          </div>
        </div>

        <div class="card-wraper">
          <div class="card" onclick="handleModal('E')">
            <div class="inner-card">
              <p>Turma E</p>
              <p>Vespertino</p>
            </div>
            <div class="snd-inner-card">
              <p class="trilha">ENEGRE-SER</p>   
            </div>
            <div class="snd-inner-card">
              <p>Vagas: {{actual_students['E']}}/{{max_students['E']}}</p>
            </div>
          </div>

          <div class="card" onclick="handleModal('F')">
            <div class="inner-card">
              <p>Turma F</p>
              <p>Vespertino</p>
            </div>
            <div class="snd-inner-card">
              <p class="trilha">DINHEIRO NA MÃO É VENDAVAL</p>   
            </div>
            <div class="snd-inner-card">
              <p>Vagas: {{actual_students['F']}}/{{max_students['F']}}</p>
            </div>
          </div>

          <div class="card" onclick="handleModal('G')">
            <div class="inner-card">
              <p>Turma G</p>
              <p>Vespertino</p>
            </div>
            <div class="snd-inner-card">
              <p class="trilha">ADMIRÁVEL MUNDO NOVO</p>   
            </div>
            <div class="snd-inner-card">
              <p>Vagas: {{actual_students['G']}}/{{max_students['G']}}</p>
            </div>
          </div>

          <div class="card" onclick="handleModal('H')">
            <div class="inner-card">
              <p>Turma H</p>
              <p>Vespertino</p>
            </div>
            <div class="snd-inner-card">
              <p class="trilha">AGROECOLOGIA</p>   
            </div>
            <div class="snd-inner-card">
              <p>Vagas: {{actual_students['H']}}/{{max_students['H']}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal">
        <div class="modal-content">
          <p id="title"></p>   
          <p id="timer">30</p>
          <button type="button" id="cancel" onclick={handleModal()}>Cancelar</button>
          <button type="button" onclick={handleSave()}>Confirmar</button>
        </div>
      </div>

    </form>

    </div>
  </main>

  <script>

    let myInterval = NaN;

    function handleSave() {
      const modal = document.querySelector('.modal');
      const turma = modal.getAttribute('id')
      form = document.querySelector('form')
      form.action = `/aluno/matricular/${turma}`
      form.submit()
      handleModal();
    }

    function handleModal(turma) {
      const modal = document.querySelector('.modal');
      const actualStyle = modal.style.display;
      if (actualStyle === 'block') {
        modal.style.display = 'none';
        myStop();
      } else {
        modal.style.display = 'block';
        myStart();
      }
      
      modal.setAttribute('id', turma)
      title = document.getElementById('title')
      title.innerHTML = `Tem certeza que deseja se matricular na turma ${turma}?`
}

  function myTimer() {
    const timerElement = document.getElementById("timer");
    let timeLeft = parseInt(timerElement.textContent);
    timeLeft--;
    timerElement.textContent = timeLeft;

    if (timeLeft <= 0) {
      clearInterval(myInterval);
      form = document.getElementById('logout-form')
      form.submit()
    }
  }

  function myStop() {
    clearInterval(myInterval);
    const timerElement = document.getElementById("timer");
    timerElement.textContent = 30;
  }

  function myStart() {
    myInterval = setInterval(myTimer, 1000);
  }

  </script>

</body>

</html>