h1 {
  color: #4CAF50;
}

label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}


input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4CAF50;
  width: 100%;
  font-size: 16px;
}

.register-wrapper {
  position: relative;
  border-radius: 10%;
  padding: 10px;
  border: 1px solid #ddd;
}

.error-span {
  color: #f13333;
  font-weight: bold;
  cursor: pointer;
}

.success-span {
  color: #4CAF50;
  font-weight: bold;
  cursor: pointer;
}