.register-wrapper {
  position: relative;
  border-radius: 10%;
  padding: 10px;
  border: 1px solid #ddd;
}

.error-span {
  color: #f13333;
  font-weight: bold;
  cursor: pointer;
}

.success-span {
  color: #4CAF50;
  font-weight: bold;
  cursor: pointer;
}

.total-alunos {
  display: flex;
  justify-content: center;
  gap: 10px;
}