<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>HTML Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin-menu.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
  <main>
    <div class="modal">
      <div class="modal-container">

        <div class="modal-header">
          <h3 style="color:white">Relatório das Matrículas</h3>
          <button type="button" class="cancel" onClick={handleModal()}>⨉</button>
        </div>

        <div class="modal-content">
          <table>
            <tr>
              <td> CPF </td>
              <td> Turma </td>
            </tr>
            <tr>
              <th> 111.111.111-11 </th>
              <th> A </th>
            </tr>
            <tr>
              <th>222.222.222-22</th>
              <th> B </th>
            </tr>
              <th>333.333.333-33</th>
              <th>-</th>
          </table>
  
          Vagas Restantes: 0
        </div>
      </div>
    </div>

    <h1>Trilha Certa</h1>
    <h3>Cadastre o CPF dos alunos</h3>
    <form method="post" action="/admin/criar-aluno">
      <label for="cpf">
        CPF:
      </label>
      <input type="text" id="cpf" name="cpf" placeholder="Digite o CPF do aluno" required>

      <div class="wrap">
        <button type="submit">
          Cadastrar CPF
        </button>
      </div>
      <div class="total-alunos">
        <span>Total alunos:</span>{{total_alunos}}<span>/</span><span>{{total_max_alunos}}</span>
      </div>
    </form>

    {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == "success" %}
        <div class="success">{{ message }}</div>
      {% endif %}
    {% endfor %}

    <form method="post" action="/admin/abrir-periodo">
      <div class="register-wrapper" >
        <div class="wrap">
          <button type="submit">
            Iniciar período de mátriculas
          </button>
       </div>
    </form>

      <div class="wrap">
        <button type="button" onclick="handleModal()">
          Consultar matrículas
        </button>
      </div>
    </div>
    
    <div>
      <form action="/logout">
        <button id="logout" type="submit">Sair</button>
      </form>
    </div>
  </main>

  <script>
    
    document.getElementById('cpf').addEventListener('input', function(e) {
		var value = e.target.value;
		var cpfPattern = value.replace(/\D/g, '')
							  .replace(/(\d{3})(\d)/, '$1.$2')
							  .replace(/(\d{3})(\d)/, '$1.$2')
							  .replace(/(\d{3})(\d)/, '$1-$2')
							  .replace(/(-\d{2})\d+?$/, '$1');
		e.target.value = cpfPattern;
	});

  async function abrirPeriodo () {
    fetch('http://127.0.0.1:5000/admin/abrir-periodo', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
    })
  }

  function handleModal() {
      const modal = document.querySelector('.modal');
      const actualStyle = modal.style.display;
      if (actualStyle === 'block') {
        modal.style.display = 'none';
      } else {
        modal.style.display = 'block';
      }

      // Colocar lock e limite de tempo para fechar
    }

  </script>

</body>

</html>