<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>HTML Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <main>
    <h1>Trilha Certa</h1>
    <h3>Por enquanto o período de matrícula não está aberto</h3>
    
    <img src="https://img.freepik.com/free-vector/404-error-with-person-looking-concept-illustration_114360-7922.jpg?t=st=1724286887~exp=1724290487~hmac=6296d545f8cd993cbb7c2029878f611b4c852843da2e3c6e49421b2ddf5def53&w=740" alt="Período de matrícula fechado" width="200" height="200">

    </div>
  </main>

</body>

</html>