<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>HTML Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <main>
    <h1>Trilha Certa</h1>
    <h3>Sua inscrição está confirmada na turma {{turma}}!</h3>
    
    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/5605248-o-homem-de-negocios-estava-comemorando-e-pulando-com-um-trofeu-na-mao-desfrutando-vitorias-negocios-conceito-negocio-sucesso-ilustracaoial-gratis-vetor.jpg 980w, https://static.vecteezy.com/ti/vetor-gratis/p2/5605248-o-homem-de-negocios-estava-comemorando-e-pulando-com-um-trofeu-na-mao-desfrutando-vitorias-negocios-conceito-negocio-sucesso-ilustracaoial-gratis-vetor.jpg" alt="Matrícula realizada" width="200" height="200">

    </div>
    <div>
      <form action="/logout">
        <button id="logout" type="submit">Sair</button>
      </form>
    </div>
  </main>

</body>

</html>